---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

  {# begin header #}
  {% include "partials/_header.html" %}
  {# end header #}

  {# begin hero #}
  {% include "partials/_about-hero.html" %}
  {# end hero #}

  {# begin howItWorks #}
  {% include "partials/_how-it-works.html" %}
  {# end howItWorks #}



  {#<section class="full-height about-us-img-block">#}
    {#<div class="container-fluid full-height">#}
      {#<div class="row full-height">#}
        {#<div class="col-sm-12">#}
          {#<div class="like-table">#}
            {#<div>#}
              {#<div class="about-us-img-block-title">Our mission is to restore confidence in the ICO market. We want responsible projects to conduct ICOs and bring new products to the light.</div>#}
              {#<div class="page-title-button text-center"><a class="next-link-red" href="#">Discover Platform</a></div>#}
            {#</div>#}
          {#</div>#}
        {#</div>#}
      {#</div>#}
    {#</div>#}
  {#</section>#}
  {#<section class="careers">#}
    {#<div class="container">#}
      {#<div class="row">#}
        {#<div class="careers-title">Careers</div>#}
      {#</div>#}
      {#<div class="row">#}
        {#<div class="col-md-4 col-sm-6 col-xs-12">#}
          {#<div class="careers-item">#}
            {#<div class="careers-item-title">Ruby-on-rails Developers</div>#}
            {#<div class="careers-item-description">We are currently searching for ruby-on-rails developers. If you consider yourself perfectly suited for the position - just contact us If you consider yourself perfectly suited for the</div>#}
            {#<div class="careers-item-link text-rght"><a class="next-link next-link-career" href="#">Contact us</a></div>#}
          {#</div>#}
        {#</div>#}
        {#<div class="col-md-4 col-sm-6 col-xs-12">#}
          {#<div class="careers-item">#}
            {#<div class="careers-item-title">Web Designer</div>#}
            {#<div class="careers-item-description">We are currently searching for Web Designer. If you consider yourself perfectly suited for the position - just contact us  for the position - just c</div>#}
            {#<div class="careers-item-link text-rght"><a class="next-link next-link-career" href="#">Contact us</a></div>#}
          {#</div>#}
        {#</div>#}
        {#<div class="col-md-4 col-sm-6 col-xs-12">#}
          {#<div class="careers-item">#}
            {#<div class="careers-item-title">Project Manager</div>#}
            {#<div class="careers-item-description">We are currently searching for Project Manager. If you consider yourself </div>#}
            {#<div class="careers-item-link text-rght"><a class="next-link next-link-career" href="#">Contact us</a></div>#}
          {#</div>#}
        {#</div>#}
        {#<div class="col-md-4 col-sm-6 col-xs-12">#}
          {#<div class="careers-item">#}
            {#<div class="careers-item-title">Ruby-on-rails Developers</div>#}
            {#<div class="careers-item-description">We are currently searching for ruby-on-rails developers. If you consider yourself perfectly suite</div>#}
            {#<div class="careers-item-link text-rght"><a class="next-link next-link-career" href="#">Contact us</a></div>#}
          {#</div>#}
        {#</div>#}
      {#</div>#}
    {#</div>#}
  {#</section>#}
  {#<section class="grey-back">#}
    {#<div class="container">#}
      {#<div class="row">#}
        {#<div class="col-sm-12 col-xs-12">#}
          {#<div class="newsletter support-form ">#}
            {#<div class="newsletter-title">Contact Us</div>#}
            {#<div class="newsletter-subtitle">We are available for your questions and suggestions 24/7</div>#}
            {#<form>#}
              {#<input type="text" name="question" placeholder="Your Message" />#}
              {#<div class="text-right">#}
                {#<button type="submit" class="next-link newsletter-link" href="#">Send Message</button>#}
              {#</div>#}
            {#</form>#}
          {#</div>#}
        {#</div>#}
      {#</div>#}
    {#</div>#}
  {#</section>#}


  {# begin subscribe #}
  {% include "partials/_footer.html" %}
  {# end subscribe #}

{% endblock %}
