---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

  {# begin header #}
  {% include "partials/_header.html" %}
  {# end header #}

  {# begin hero #}
  {% include "partials/_hero.html" %}
  {# end hero #}

  {% import 'data/index-news-data.html' as news %}
  {# begin news #}
  {% include "partials/_news.html" %}
  {# end news #}

  {% import 'data/investors-advantages-data.html' as advantages %}
  {# begin advantages #}
  {% include "partials/_advantages.html" %}
  {# end advantages #}

  {# begin clients #}
  {% include "partials/_clients.html" %}
  {# end clients #}

  {# begin mediators #}
  {% include "partials/_mediators.html" %}
  {# end mediators #}

  {% import 'data/mediators-advantages-data.html' as advantages %}
  {# begin advantages #}
  {% include "partials/_advantages.html" %}
  {# end advantages #}

  {# begin mission #}
  {% include "partials/_mission.html" %}
  {# end mission #}

  {# begin subscribe #}
  {% include "partials/_subscribe.html" %}
  {# end subscribe #}


  {#<footer>#}
    {#<div class="container">#}
      {#<div class="row">#}
        {#<div class="footer-logo">#}
          {#<a href="/"><img src="/assets/images/footer-logo.png"></a>#}
        {#</div>#}
        {#<div class="footer-menu">#}
          {#<div class="footer-menu-title">About<div class="open-footer-menu pull-right hidden-lg hidden-md"><span></span><span></span></div></div>#}
          {#<div class="footer-menu-ul">#}
            {#<ul>#}
              {#<li><a href="#">How it work</a></li>#}
              {#<li><a href="#">Company</a></li>#}
              {#<li><a href="#">Mission</a></li>#}
              {#<li><a href="#">Careers</a></li>#}
              {#<li><a href="#">Contact</a></li>#}
            {#</ul>#}
          {#</div>#}
        {#</div>#}
        {#<div class="footer-menu">#}
          {#<div class="footer-menu-title">NEWS<div class="open-footer-menu pull-right hidden-lg hidden-md"><span></span><span></span></div></div>#}
          {#<div class="footer-menu-ul">#}
            {#<ul>#}
              {#<li><a href="#">Tech</a></li>#}
              {#<li><a href="#">Clients</a></li>#}
              {#<li><a href="#">Partners</a></li>#}
              {#<li><a href="#">Arbiters</a></li>#}
            {#</ul>#}
          {#</div>#}
        {#</div>#}
        {#<div class="footer-menu">#}
          {#<div class="footer-menu-title">Services<div class="open-footer-menu pull-right hidden-lg hidden-md"><span></span><span></span></div></div>#}
          {#<div class="footer-menu-ul">#}
            {#<ul>#}
              {#<li><a href="#">Platform</a></li>#}
              {#<li><a href="#">Integration</a></li>#}
              {#<li><a href="#">Market Place</a></li>#}
            {#</ul>#}
          {#</div>#}
        {#</div>#}
        {#<div class="footer-menu">#}
          {#<div class="footer-menu-title">Other<div class="open-footer-menu pull-right hidden-lg hidden-md"><span></span><span></span></div></div>#}
          {#<div class="footer-menu-ul">#}
            {#<ul>#}
              {#<li><a href="#">Apply Arbiters</a></li>#}
              {#<li><a href="#">Wiki</a></li>#}
              {#<li><a href="#">Support</a></li>#}
              {#<li><a href="#">Try Now</a></li>#}

            {#</ul>#}
          {#</div>#}
        {#</div>#}
        {#<div class="col-lg-3 col-md-4 text-right footer-social-block">#}
          {#<div class="footer-social">#}
            {#<a href="#"><div><img src="/assets/images/footer_fb.png"></div></a><!--#}
              {#--><a href="#"><div><img class="footer-twitter" src="/assets/images/footer_twitter.png"></div></a><!--#}
              {#--><a href="#"><div><img src="/assets/images/footer_linkedin.png"></div></a><!--#}
              {#--><a href="#"><div><img src="/assets/images/footer_fb.png"></div></a>#}
          {#</div>#}
          {#<div class="copy text-right">#}
            {#Copyright © 2018 Jury.Online Foundation<br /><br />#}
            {#Registry code: 14314305 Tartu mnt 83-701<br />#}
            {#Tallinn Harjumaa 10115#}
          {#</div>#}
        {#</div>#}
      {#</div>#}
    {#</div>#}
  {#</footer>#}

{% endblock %}
