---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

  {# begin header #}
  {% include "partials/_header.html" %}
  {# end header #}

  {# begin hero #}
  {% include "partials/_hero.html" %}
  {# end hero #}

  {# begin news #}
  {% include "partials/_latest-news.html" %}
  {# end news #}




  {#<section class="content">#}
    {#<div class="container">#}
      {#<div class="row">#}
        {#<div class="col-sm-12 xol-xs-12">#}
          {#<div class="section-title text-capitalize text-center">Advantages for the Investors</div>#}
        {#</div>#}
      {#</div>#}
      {#<div class="row">#}
        {#<div class="col-sm-12 col-xs-12">#}
          {#<div class="invest-item invest-item-1" style="background: url('/assets/images/invest-main-1.png');"><div><div>Clear and secure way to contribute in responsible Projects</div></div></div><!--#}
            {#--><div class="invest-item invest-item-2" style="background: url('/assets/images/invest-main-2.png');"><div><div>Direct communication with the developers of the Project</div></div></div><!--#}
            {#--><div class="invest-item" style="background: url('/assets/images/invest-main-3.png');"><div><div>A guaranteed refund of up to 99.5% of total investment</div></div></div>#}
        {#</div>#}
      {#</div>#}
      {#<div class="row next-link-red-row">#}
        {#<div class="col-sm-12 col-xs-12 text-left">#}
          {#<a class="next-link-red pull-right" href="#">Become an Investor</a>#}
        {#</div>#}
      {#</div>#}
    {#</div>#}
  {#</section>#}
  {#<section class="content-with-out-title content-with-out-title-1">#}
    {#<div class="container-fluid">#}
      {#<div class="row">#}
        {#<div class="col-sm-12 col-xs-12">#}
          {#<div class="content-with-out-title-body">#}
            {#<div class="row">#}
              {#<div class="col-sm-12 col-xs-12">#}
                {#<div class="content-with-out-title-body-title">Clients Raising Now</div>#}
              {#</div>#}
            {#</div>#}
            {#<div class="row">#}
              {#<div class="col-lg-3 col-sm-4 col-xs-12">#}
                {#<div class="content-with-out-title-body-image"><img src="/assets/images/raising-logo-1.png" /></div>#}
                {#<div class="content-with-out-title-body-description">An e-commerce platform based on blockchain technology. </div>#}
              {#</div>#}
              {#<div class="col-lg-3 col-sm-4 col-xs-12">#}
                {#<div class="content-with-out-title-body-image"><img src="/assets/images/raising-logo-2.png" /></div>#}
                {#<div class="content-with-out-title-body-description">Major cryptocurrency exchange. WEX.nz — is a major cryptocurrency exchange with a daily turnover reaching $98 million.</div>#}
              {#</div>#}
              {#<div class="col-lg-3 col-sm-4 col-xs-12">#}
                {#<div class="content-with-out-title-body-image"><img src="/assets/images/raising-logo-3.png" /></div>#}
                {#<div class="content-with-out-title-body-description">Transportation services' marketplace. It is a decentralised transportation application, cooperates with Jury.</div>#}
              {#</div>#}
              {#<div class="col-lg-3 hidden-md hidden-sm col-xs-12">#}
                {#<div class="content-with-out-title-body-image"><img src="/assets/images/raising-logo-4.png" /></div>#}
                {#<div class="content-with-out-title-body-description">Transportation services' marketplace. It is a decentralised transportation application, cooperates with Jury.</div>#}
              {#</div>#}
            {#</div>#}
            {#<div class="row next-link-row mt-30 mb-100">#}
              {#<div class="col-sm-12 col-xs-12 text-right">#}
                {#<a class="next-link" href="#">Explore all</a>#}
              {#</div>#}
            {#</div>#}
            {#<div class="row">#}
              {#<div class="col-sm-12 col-xs-12">#}
                {#<div class="content-with-out-title-body-title text-center mb-40">Advantages for the Projects</div>#}
              {#</div>#}
            {#</div>#}
            {#<div class="row">#}
              {#<div class="col-sm-12 col-xs-12">#}
                {#<div class="invest-item invest-item-1" style="background: url('/assets/images/advantages-1.png');"><div><div>Raise potential investment attractiveness</div></div></div><!--#}
            {#--><div class="invest-item invest-item-2" style="background: url('/assets/images/advantages-2.png');"><div><div>Make crowdsale average investment amount larger</div></div></div><!--#}
            {#--><div class="invest-item" style="background: url('/assets/images/advantages-3.png');"><div><div>Use our Arbiters as top notch advisors</div></div></div>#}
              {#</div>#}
            {#</div>#}
            {#<div class="row next-link-red-row">#}
              {#<div class="col-sm-12 col-xs-12 text-left">#}
                {#<a class="next-link-red pull-right" href="#">Become a client</a>#}
              {#</div>#}
            {#</div>#}
          {#</div>#}
        {#</div>#}
      {#</div>#}
    {#</div>#}
  {#</section>#}
  {#<section class="content grey-back pb-120">#}
    {#<div class="container">#}
      {#<div class="row">#}
        {#<div class="col-sm-12 xol-xs-12">#}
          {#<div class="section-title text-capitalize mb-0">Meet Our Mediators</div>#}
        {#</div>#}
      {#</div>#}
      {#<div class="row">#}
        {#<div class="col-sm-12 col-xs-12 mediators">#}
          {#<div class="mediators-item image-left">#}
            {#<div class="social-mobile hidden-lg hidden-md">#}
              {#<a href="#"><img src="/assets/images/twitter.png"></a>#}
              {#<a href="#"><img src="/assets/images/linkedin.png"></a>#}
            {#</div>#}
            {#<div class="mediators-item-image"><img src="/assets/images/mediator-1.png" /></div>#}
            {#<div class="mediators-item-blue">#}
              {#<div class="social pull-right hidden-sm hidden-xs">#}
                {#<a href="#"><img src="/assets/images/twitter.png"></a>#}
                {#<a href="#"><img src="/assets/images/linkedin.png"></a>#}
              {#</div>#}
              {#<div class="mediators-item-blue-name">Bob Schrader, Esq.</div>#}
              {#<div class="mediators-item-blue-position">International Law Attorney</div>#}
            {#</div>#}
            {#<div class="mediators-item-white">Bob Schrader, Esq. is an International Law attorney providing business, regulatory, negotiation, and legal counsel and advice to entrepreneurs, owners, startups, and internet-based companies from concept through ongoing operations for over 30 years.</div>#}
          {#</div>#}
          {#<div class="mediators-item image-right">#}
            {#<div class="social-mobile hidden-lg hidden-md">#}
              {#<a href="#"><img src="/assets/images/twitter.png"></a>#}
              {#<a href="#"><img src="/assets/images/linkedin.png"></a>#}
            {#</div>#}
            {#<div class="mediators-item-image"><img src="/assets/images/mediator-2.png" /></div>#}
            {#<div class="mediators-item-blue">#}
              {#<div class="social pull-right hidden-sm hidden-xs">#}
                {#<a href="#"><img src="/assets/images/twitter.png"></a>#}
                {#<a href="#"><img src="/assets/images/linkedin.png"></a>#}
              {#</div>#}
              {#<div class="mediators-item-blue-name">Bob Schrader, Esq.</div>#}
              {#<div class="mediators-item-blue-position">International Law Attorney</div>#}
            {#</div>#}
            {#<div class="mediators-item-white">Bob Schrader, Esq. is an International Law attorney providing business, regulatory, negotiation, and legal counsel and advice to entrepreneurs, owners, startups, and internet-based companies from concept through ongoing operations for over 30 years.</div>#}
          {#</div>#}
          {#<div class="mediators-item image-left hidden-sm hidden-xs">#}
            {#<div class="mediators-item-image"><img src="/assets/images/mediator-3.png" /></div>#}
            {#<div class="mediators-item-blue">#}
              {#<div class="social pull-right">#}
                {#<a href="#"><img src="/assets/images/twitter.png"></a>#}
                {#<a href="#"><img src="/assets/images/linkedin.png"></a>#}
              {#</div>#}
              {#<div class="mediators-item-blue-name">Bob Schrader, Esq.</div>#}
              {#<div class="mediators-item-blue-position">International Law Attorney</div>#}
            {#</div>#}
            {#<div class="mediators-item-white">Bob Schrader, Esq. is an International Law attorney providing business, regulatory, negotiation, and legal counsel and advice to entrepreneurs, owners, startups, and internet-based companies from concept through ongoing operations for over 30 years.</div>#}
          {#</div>#}
        {#</div>#}
      {#</div>#}
      {#<div class="row next-link-row">#}
        {#<div class="col-sm-12 col-xs-12 text-right mediators-more-link">#}
          {#<a class="next-link" href="#">Explore all</a>#}
        {#</div>#}
      {#</div>#}
    {#</div>#}
  {#</section>#}
  {#<section class="content pt-140 mb-100">#}
    {#<div class="container">#}
      {#<div class="row">#}
        {#<div class="col-sm-12 xol-xs-12">#}
          {#<div class="section-title text-center">Advantages for the Mediators</div>#}
        {#</div>#}
      {#</div>#}
      {#<div class="row">#}
        {#<div class="col-sm-12 col-xs-12">#}
          {#<div class="invest-item invest-item-1" style="background: url('/assets/images/advantages-mediators-1.png');"><div><div>Become a part of the game-changing force</div></div></div><!--#}
            {#--><div class="invest-item invest-item-2" style="background: url('/assets/images/advantages-mediators-2.png');"><div><div>Earn money by taking decisions</div></div></div><!--#}
            {#--><div class="invest-item" style="background: url('/assets/images/advantages-mediators-3.png');"><div><div>Earn rating and become famous in cryptoworld</div></div></div>#}
        {#</div>#}
      {#</div>#}
      {#<div class="row next-link-red-row">#}
        {#<div class="col-sm-12 col-xs-12 text-left">#}
          {#<a class="next-link-red pull-right" href="#">Become an mediator</a>#}
        {#</div>#}
      {#</div>#}
    {#</div>#}
  {#</section>#}
  {#<section class="content section-mission pt-160">#}
    {#<div class="container">#}
      {#<div class="row">#}
        {#<div class="col-sm-12 xol-xs-12">#}
          {#<div class="section-title text-capitalize text-center white-color">Mission</div>#}
        {#</div>#}
      {#</div>#}
      {#<div class="row">#}
        {#<div class="col-sm-12 xol-xs-12">#}
          {#<div class="mission-popup-parent">#}
            {#<div class="right-top hidden-xs"></div>#}
            {#<div class="clearfix"></div>#}
            {#<div class="right-bottom hidden-xs"></div>#}
            {#<div class="mission-popup white-color text-center">Our mission is to restore confidence in the ICO market. We want responsible projects to conduct ICOs and bring new products to the light.</div>#}
            {#<div class="clearfix"></div>#}
          {#</div>#}
        {#</div>#}
      {#</div>#}
      {#<div class="row next-link-red-row">#}
        {#<div class="col-sm-12 col-xs-12 text-center">#}
          {#<a class="next-link-red next-link-red-mission text-left centered mb-170 " href="#">Discover Platform</a>#}
        {#</div>#}
      {#</div>#}
    {#</div>#}
  {#</section>#}
  {#<section class="grey-back">#}
    {#<div class="container">#}
      {#<div class="row">#}
        {#<div class="col-sm-12 col-xs-12">#}
          {#<div class="newsletter">#}
            {#<div class="newsletter-title">Get Our Newsletter</div>#}
            {#<form>#}
              {#<input type="text" name="email" placeholder="Email" />#}
              {#<div class="text-right">#}
                {#<button type="submit" class="next-link newsletter-link" href="#">Confirm email</button>#}
              {#</div>#}
            {#</form>#}
          {#</div>#}
        {#</div>#}
      {#</div>#}
    {#</div>#}
  {#</section>#}
  {#<footer>#}
    {#<div class="container">#}
      {#<div class="row">#}
        {#<div class="footer-logo">#}
          {#<a href="/"><img src="/assets/images/footer-logo.png"></a>#}
        {#</div>#}
        {#<div class="footer-menu">#}
          {#<div class="footer-menu-title">About<div class="open-footer-menu pull-right hidden-lg hidden-md"><span></span><span></span></div></div>#}
          {#<div class="footer-menu-ul">#}
            {#<ul>#}
              {#<li><a href="#">How it work</a></li>#}
              {#<li><a href="#">Company</a></li>#}
              {#<li><a href="#">Mission</a></li>#}
              {#<li><a href="#">Careers</a></li>#}
              {#<li><a href="#">Contact</a></li>#}
            {#</ul>#}
          {#</div>#}
        {#</div>#}
        {#<div class="footer-menu">#}
          {#<div class="footer-menu-title">NEWS<div class="open-footer-menu pull-right hidden-lg hidden-md"><span></span><span></span></div></div>#}
          {#<div class="footer-menu-ul">#}
            {#<ul>#}
              {#<li><a href="#">Tech</a></li>#}
              {#<li><a href="#">Clients</a></li>#}
              {#<li><a href="#">Partners</a></li>#}
              {#<li><a href="#">Arbiters</a></li>#}
            {#</ul>#}
          {#</div>#}
        {#</div>#}
        {#<div class="footer-menu">#}
          {#<div class="footer-menu-title">Services<div class="open-footer-menu pull-right hidden-lg hidden-md"><span></span><span></span></div></div>#}
          {#<div class="footer-menu-ul">#}
            {#<ul>#}
              {#<li><a href="#">Platform</a></li>#}
              {#<li><a href="#">Integration</a></li>#}
              {#<li><a href="#">Market Place</a></li>#}
            {#</ul>#}
          {#</div>#}
        {#</div>#}
        {#<div class="footer-menu">#}
          {#<div class="footer-menu-title">Other<div class="open-footer-menu pull-right hidden-lg hidden-md"><span></span><span></span></div></div>#}
          {#<div class="footer-menu-ul">#}
            {#<ul>#}
              {#<li><a href="#">Apply Arbiters</a></li>#}
              {#<li><a href="#">Wiki</a></li>#}
              {#<li><a href="#">Support</a></li>#}
              {#<li><a href="#">Try Now</a></li>#}

            {#</ul>#}
          {#</div>#}
        {#</div>#}
        {#<div class="col-lg-3 col-md-4 text-right footer-social-block">#}
          {#<div class="footer-social">#}
            {#<a href="#"><div><img src="/assets/images/footer_fb.png"></div></a><!--#}
              {#--><a href="#"><div><img class="footer-twitter" src="/assets/images/footer_twitter.png"></div></a><!--#}
              {#--><a href="#"><div><img src="/assets/images/footer_linkedin.png"></div></a><!--#}
              {#--><a href="#"><div><img src="/assets/images/footer_fb.png"></div></a>#}
          {#</div>#}
          {#<div class="copy text-right">#}
            {#Copyright © 2018 Jury.Online Foundation<br /><br />#}
            {#Registry code: 14314305 Tartu mnt 83-701<br />#}
            {#Tallinn Harjumaa 10115#}
          {#</div>#}
        {#</div>#}
      {#</div>#}
    {#</div>#}
  {#</footer>#}

{% endblock %}
