---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

  {# begin header #}
  {% include "partials/_header.html" %}
  {# end header #}

  {# begin hero #}
  {% include "partials/_hero.html" %}
  {# end hero #}

  {% import 'data/index-news-data.html' as news %}
  {# begin news #}
  {% include "partials/_news.html" %}
  {# end news #}

  {% import 'data/investors-advantages-data.html' as advantages %}
  {# begin advantages #}
  {% include "partials/_advantages.html" %}
  {# end advantages #}

  {# begin clients #}
  {% include "partials/_clients.html" %}
  {# end clients #}

  {# begin mediators #}
  {% include "partials/_mediators.html" %}
  {# end mediators #}

  {% import 'data/mediators-advantages-data.html' as advantages %}
  {# begin advantages #}
  {% include "partials/_advantages.html" %}
  {# end advantages #}

  {# begin mission #}
  {% include "partials/_mission.html" %}
  {# end mission #}

  {# begin subscribe #}
  {% include "partials/_subscribe.html" %}
  {# end subscribe #}

  {# begin subscribe #}
  {% include "partials/_footer.html" %}
  {# end subscribe #}

{% endblock %}
