---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

  {# begin header #}
  {% include "partials/_header.html" %}
  {# end header #}

  {% import 'data/hero-services-data.html' as about %}
  {# begin hero #}
  {% include "partials/_hero-block.html" %}
  {# end hero #}

  {% import 'data/breadcrumbs-clients.html' as breadcrumbs %}
  {% set breadcrumbsBgWhite = true %}
  {# begin breadcrumbs #}
  {% include "partials/_breadcrumbs.html" %}
  {# end breadcrumbs #}

  {% import 'data/service-technology-data.html' as service %}
  {# begin service #}
  {% include "partials/_service.html" %}
  {# end service #}

  {% import 'data/service-marketing-data.html' as service %}
  {# begin service #}
  {% include "partials/_service.html" %}
  {# end service #}

  {% import 'data/service-cooperation-data.html' as service %}
  {# begin service #}
  {% include "partials/_service.html" %}
  {# end service #}

  {% import 'data/about-services-data.html' as data %}
  {# begin about-info #}
  {% include "partials/_about.html" %}
  {# end about-info #}

  {# begin subscribe #}
  {% include "partials/_footer.html" %}
  {# end subscribe #}

{% endblock %}



