---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

  {# begin header #}
  {% include "partials/_header.html" %}
  {# end header #}

  {% include "partials/_about-hero.html" %}
  {% include "partials/_about-hero.html" %}


  {% import 'data/service-technology-data.html' as service %}
  {# begin service #}
  {% include "partials/_service.html" %}
  {# end service #}

  {# begin subscribe #}
  {% include "partials/_footer.html" %}
  {# end subscribe #}

{% endblock %}



