---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

  {# begin header #}
  {% include "partials/_header.html" %}
  {# end header #}

  {% import 'data/hero-support-data.html' as about %}
  {# begin hero #}
  {% include "partials/hero-block.html" %}
  {# end hero #}

  {# begin support-info #}
  {% include "partials/_support-info.html" %}
  {# end support-info #}

  {# begin subscribe #}
  {% include "partials/_footer.html" %}
  {# end subscribe #}

{% endblock %}


<body class="grey-back">
<section class="mediators-page support-page grey-back">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="mediators-page-title">Frequently asked Questions</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="faq-item active">
          <div class="question">
            When The Morning Dawns<div class="open-faq pull-right"><span></span><span></span></div>
          </div>
          <div class="answer" style="display: block">
            Free directories: directories are perfect for customers that are searching for a particular topic. What’s great about them is that you only have to post once and they are good for long periods of time.
          </div>
        </div>
        <div class="faq-item">
          <div class="question">
            When The Morning Dawns<div class="open-faq pull-right"><span></span><span></span></div>
          </div>
          <div class="answer">
            Free directories: directories are perfect for customers that are searching for a particular topic. What’s great about them is that you only have to post once and they are good for long periods of time.
          </div>
        </div>
        <div class="faq-item">
          <div class="question">
            When The Morning Dawns<div class="open-faq pull-right"><span></span><span></span></div>
          </div>
          <div class="answer">
            Free directories: directories are perfect for customers that are searching for a particular topic. What’s great about them is that you only have to post once and they are good for long periods of time.
          </div>
        </div>
        <div class="faq-item">
          <div class="question">
            When The Morning Dawns<div class="open-faq pull-right"><span></span><span></span></div>
          </div>
          <div class="answer">
            Free directories: directories are perfect for customers that are searching for a particular topic. What’s great about them is that you only have to post once and they are good for long periods of time.
          </div>
        </div>
        <div class="faq-item">
          <div class="question">
            When The Morning Dawns<div class="open-faq pull-right"><span></span><span></span></div>
          </div>
          <div class="answer">
            Free directories: directories are perfect for customers that are searching for a particular topic. What’s great about them is that you only have to post once and they are good for long periods of time.
          </div>
        </div>
        <div class="faq-item">
          <div class="question">
            When The Morning Dawns<div class="open-faq pull-right"><span></span><span></span></div>
          </div>
          <div class="answer">
            Free directories: directories are perfect for customers that are searching for a particular topic. What’s great about them is that you only have to post once and they are good for long periods of time.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="grey-back">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <div class="newsletter support-form ">
          <div class="newsletter-title">Ask us</div>
          <div class="newsletter-subtitle">We are available for your questions and suggestions 24/7</div>
          <form>
            <input type="text" name="name" placeholder="Full Name" />
            <input type="text" name="email" placeholder="Your e-mail" />
            <input type="text" name="question" placeholder="Question" />
            <div class="text-right">
              <button type="submit" class="next-link newsletter-link" href="#">Send Resume</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
</body>


