<section class="about-hero">
  <div class="about-hero__container container ">
    <div class="about-hero__row row">
      <div class="about-hero__col col-sm-12 col-xs-12 full-height-child">
        <div class="about-hero__title title title_white title_lg">Our Company</div>
        <p class="about-hero__descr">
          Jury.Online is a platform dedicated to security of investing into ICO projects with an integrated
            decentralized escrow service that provides our clients with the maximum security due to the absence of third
            party control over the funds.<br/><br/>
          In case of controversies between Investor and Project at any stage of its implementation the protocol
            offers unbiased mediation
        </p>
      </div>
    </div>
  </div>
</section>
