<section class="ask-us">
  <div class="ask-us__container container">
    <div class="ask-us__row row">
      <div class="ask-us__col col-sm-12 col-xs-12">
        <div class="ask-us__card white-card">
          <div class="ask-us__title title">Ask us</div>
          <div class="ask-us__subtitle">We are available for your questions and suggestions 24/7</div>
          <form class="ask-us__form form-text">
            <label class="form-text__label form-text__label_mt">
              <input class="form-text__input" type="text" name="question" placeholder="Full Name"/>
            </label>
            <label class="form-text__label form-text__label_mt">
              <input class="form-text__input" type="text" name="question" placeholder="Your e-mail"/>
            </label>
            <label class="form-text__label form-text__label_mt">
              <input class="form-text__input" type="text" name="question" placeholder="Question"/>
            </label>
            <div class="form-text__button-row form-text__button-row_sm">
              <button href="#" class="form-text__button button button_decorated button_blue">Send Resume</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
