<section class="clients">

  <div class="clients__container container-fluid">
    <div class="row">

      <div class="clients__background"></div>

      <div class="col-sm-12 col-xs-12">
        <div class="clients__wrapper">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-xs-12">
                <h2 class="clients__title title">Clients Raising Now</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 col-sm-4 col-xs-12 nopadding clients__item">
                <div class="clients__image-wrapper"><img class="clients__image" src="./img/clients-logo-1.png"
                                                        alt="Client logo"/></div>
                <p class="clients__text">An e-commerce platform based on blockchain
                  technology.
                </p>
              </div>
              <div class="col-lg-3 col-sm-4 col-xs-12 nopadding clients__item">
                <div class="clients__image-wrapper"><img class="clients__image" src="./img/clients-logo-2.png"
                                                        alt="Client logo"/></div>
                <p class="clients__text">Major cryptocurrency exchange. WEX.nz — is a major
                  cryptocurrency exchange with a daily turnover reaching $98 million.
                </p>
              </div>
              <div class="col-lg-3 col-sm-4 col-xs-12 nopadding clients__item">
                <div class="clients__image-wrapper"><img class="clients__image" src="./img/clients-logo-3.png"
                                                        alt="Client logo"/></div>
                <p class="clients__text">Transportation services' marketplace. It is a
                  decentralised transportation application, cooperates with Jury.
                </p>
              </div>
              <div class="col-lg-3 hidden-md hidden-sm hidden-xs col-xs-12 nopadding clients__item">
                <div class="clients__image-wrapper"><img class="clients__image" src="./img/clients-logo-4.png"
                                                        alt="Client logo"/></div>
                <p class="clients__text">Transportation services' marketplace. It is a
                  decentralised transportation application, cooperates with Jury.
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-xs-12 clients__link-row">
                <a class="clients__link button button_decorated button_decorated_sm button_blue" href="#">Explore
                  all</a>
              </div>
            </div>
          </div>

          {% import 'data/projects-advantages-data.html' as advantages %}
          {#begin advantages#}
          {% include "partials/_advantages.html" %}
          {#end advantages#}

        </div>
      </div>
    </div>
  </div>
</section>
