<section class="contact-us">
  <div class="contact-us__container container">
    <div class="contact-us__row row">
      <div class="contact-us__col col-sm-12 col-xs-12">
        <div class="contact-us__card white-card">
          <div class="contact-us__title title">Contact Us</div>
          <div class="contact-us__subtitle">We are available for your questions and suggestions 24/7</div>
          <form class="contact-us__form form-text">
            <label class="form-text__label">
              <input class="form-text__input" type="text" name="question" placeholder="Your message"/>
            </label>
            <div class="form-text__button-row form-text__button-row_sm">
              <a href="#" class="form-text__button button button_decorated button_blue">Send message</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
