{% set filter = ['all', 'legal', 'blockchain', 'finance', 'it'] %}
<section class="filter">
  <div class="filter__container container">
    <div class="filter__row row">
      <form class="category__form">
        <div class="filter__col col-sm-8">
          <h3 class="filter__title">Category</h3>
          <div class="filter__list category">
            {% for item in filter %}
              <label class="category__label">
                <input id="{{ item }}" type="checkbox" class="category__checkbox">
                <span class="category__text">{{ item }}</span>
              </label>
            {% endfor %}
          </div>
        </div>
        <div class="filter__col filter__col-rating col-sm-4">
          <h3 class="filter__title">Rating</h3>
          <div class="filter__star">
            {{ mixins.icon('star') }}
          </div>
          <div id="js-range" class="filter__range js-range"></div>
        </div>
      </form>
    </div>
  </div>

</section>
