<footer class="footer">
  <div class="footer__container container">
    <div class="footer__row row">
      <div class="footer__col footer__col-menu col-md-9">
        <div class="footer__logo">
          <a href="/"><img src="./img/logo.svg"></a>
        </div>
        <div class="footer__menu js-footer-collapse">
          <p class="footer__menu-title">About</p>
          <div class="footer__menu-wrapper">
            <ul class="footer__menu-list">
              <li class="footer__menu-item"><a class="footer__menu-link" href="#">How it work</a></li>
              <li class="footer__menu-item"><a class="footer__menu-link" href="#">Company</a></li>
              <li class="footer__menu-item"><a class="footer__menu-link" href="#">Mission</a></li>
              <li class="footer__menu-item"><a class="footer__menu-link" href="#">Careers</a></li>
              <li class="footer__menu-item"><a class="footer__menu-link" href="#">Contact</a></li>
            </ul>
          </div>
        </div>

        <div class="footer__menu js-footer-collapse">
          <div class="footer__menu-title">News</div>
          <div class="footer__menu-wrapper">
            <ul class="footer__menu-list">
              <li class="footer__menu-item"><a class="footer__menu-link" href="#">Tech</a></li>
              <li class="footer__menu-item"><a class="footer__menu-link" href="#">Clients</a></li>
              <li class="footer__menu-item"><a class="footer__menu-link" href="#">Partners</a></li>
              <li class="footer__menu-item"><a class="footer__menu-link" href="#">Arbiters</a></li>
            </ul>
          </div>
        </div>

        <div class="footer__menu js-footer-collapse">
          <div class="footer__menu-title">Services</div>
          <div class="footer__menu-wrapper">
            <ul class="footer__menu-list">
              <li class="footer__menu-item"><a class="footer__menu-link" href="#">Platform</a></li>
              <li class="footer__menu-item"><a class="footer__menu-link" href="#">Integration</a></li>
              <li class="footer__menu-item"><a class="footer__menu-link" href="#">Market Place</a></li>
            </ul>
          </div>
        </div>

        <div class="footer__menu js-footer-collapse">
          <div class="footer__menu-title">Other</div>
          <div class="footer__menu-wrapper">
            <ul class="footer__menu-list">
              <li class="footer__menu-item"><a class="footer__menu-link" href="#">Apply Arbiters</a></li>
              <li class="footer__menu-item"><a class="footer__menu-link" href="#">Wiki</a></li>
              <li class="footer__menu-item"><a class="footer__menu-link" href="#">Support</a></li>
              <li class="footer__menu-item"><a class="footer__menu-link" href="#">Try Now</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer__col-social col-lg-3 col-md-3">
        <div class="footer__social">
          <a class="footer__social-link" href="#">
            <img src="./img/facebook.png" alt="social icon">
          </a>
          <a class="footer__social-link" href="#">
            <img src="./img/twitter.png" alt="social icon">
          </a>
          <a class="footer__social-link" href="#">
            <img src="./img/instagramm.png" alt="social icon">
          </a>
          <a class="footer__social-link" href="#">
            <img src="./img/medium.png" alt="social icon">
          </a>
        </div>
        <div class="footer__copyrights">
          Copyright © 2018 Jury.Online Foundation<br/><br/>
          Registry code: 14314305 Tartu mnt 83-701<br/>
          Tallinn Harjumaa 10115
        </div>
      </div>
    </div>
  </div>
</footer>
