<header id="header" class="header js-menu-header {% if isStaticHeader %}header_static{% endif %}">
  <div class="header__container container">
    <div class="row">
      <div class="header__logo col-md-3 col-sm-9 col-xs-9">
        <a href="#" class="header__logo-link"><img src="./img/logo.svg" alt="Logo image"></a>
      </div>
      <div class="header__toggle-container col-sm-3 col-xs-3">
        <div class="header__toggle js-menu-toggle">
          <div class="header__toggle-lines"></div>
        </div>
      </div>
      <nav class="header__nav nav js-menu-nav col-md-9 col-sm-12 col-xs-12">
        <ul class="nav__list">
          <li class="nav__item js-menu-item">
            <p class="nav__link">About</p>
            <div class="nav__sublist-wrapper">
              <ul class="nav__sublist">
                <li class="nav__sublist-item"><a class="nav__sublist-link" href="#">How it work</a></li>
                <li class="nav__sublist-item"><a class="nav__sublist-link" href="#">Company</a></li>
                <li class="nav__sublist-item"><a class="nav__sublist-link" href="#">Mission</a></li>
                <li class="nav__sublist-item"><a class="nav__sublist-link" href="#">Careers</a></li>
                <li class="nav__sublist-item"><a class="nav__sublist-link" href="#">Contact</a></li>
              </ul>
            </div>
          </li>
          <li class="nav__item js-menu-item">
            <p class="nav__link">News</p>
            <div class="nav__sublist-wrapper">
              <ul class="nav__sublist">
                <li class="nav__sublist-item"><a class="nav__sublist-link" href="#">Tech</a></li>
                <li class="nav__sublist-item"><a class="nav__sublist-link" href="#">Clients</a></li>
                <li class="nav__sublist-item"><a class="nav__sublist-link" href="#">Partners</a></li>
                <li class="nav__sublist-item"><a class="nav__sublist-link" href="#">Arbiters</a></li>
              </ul>
            </div>
          </li>
          <li class="nav__item js-menu-item">
            <p class="nav__link">Services</p>
            <div class="nav__sublist-wrapper">
              <ul class="nav__sublist">
                <li class="nav__sublist-item"><a class="nav__sublist-link" href="#">Platform</a></li>
                <li class="nav__sublist-item"><a class="nav__sublist-link" href="#">Integration</a></li>
                <li class="nav__sublist-item"><a class="nav__sublist-link" href="#">Market Place</a></li>
              </ul>
            </div>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Clients</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Mediators</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Wiki</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Support</a>
          </li>
        </ul>
        <div class="nav__login">
          <a class="nav__button button button_pink" href="#">log in</a>
        </div>
      </nav>
    </div>
  </div>
</header>
