<header id="header" class="header js-menu-header">
  <div class="header__container container">
    <div class="row">
      <div class="header__logo col-md-3 col-sm-9 col-xs-9">
        <a href="#" class="header__logo-link"><img src="./img/logo.svg" alt="Logo image"></a>
      </div>
      <div class="header__toggle-container col-sm-3 col-xs-3">
        <div class="header__toggle js-menu-toggle">
          <div class="header__toggle-lines"></div>
        </div>
      </div>
      <nav class="header__nav nav js-menu-nav col-md-9 col-sm-12 col-xs-12">
        <ul class="nav__list">
          <li class="nav__item nav__item-about ">
            <a class="nav__link">About</a>
            <div class="nav__sublist-wrapper collapse" id="about">
              <ul class="nav__sublist">
                <li><a href="#">How it work</a></li>
                <li><a href="#">Company</a></li>
                <li><a href="#">Mission</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </li>
          <li class="nav__item nav__item-news">
            <a class="nav__link" href="#news" data-toggle="collapse">News</a>
            <div class="nav__sublist-wrapper collapse" id="news">
              <ul class="nav__sublist">
                <li><a href="#">Tech</a></li>
                <li><a href="#">Clients</a></li>
                <li><a href="#">Partners</a></li>
                <li><a href="#">Arbiters</a></li>
              </ul>
            </div>
          </li>
          <li class="nav__item nav__item-services">
            <a class="nav__link" href="#services" data-toggle="collapse">Services</a>
            <div class="nav__sublist-wrapper collapse" id="services">
              <ul class="nav__sublist">
                <li><a href="#">Platform</a></li>
                <li><a href="#">Integration</a></li>
                <li><a href="#">Market Place</a></li>
              </ul>
            </div>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Clients</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Mediators</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Wiki</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Support</a>
          </li>
        </ul>
        <div class="nav__login">
          <a class="nav__button button button_pink" href="#">log in</a>
        </div>
      </nav>
    </div>
  </div>
</header>
