<section class="hero">
  <div class="hero__container container">
    <div class="hero__row row">
      <div class="hero__col col-sm-12 col-xs-12">
        <h2 class="hero__title title title_lg title_white">
          The Place for<br/>
          Responsible ICO
        </h2>
      </div>
      <div class="hero__col col-md-7 col-sm-5 col-xs-12">
        <div class="hero__video">
          <a class="hero__video-link js-youtube-open" href="#">see how it works</a>
        </div>
      </div>
      <div class="hero__col col-md-5 col-sm-7 col-xs-12">
        <div class="hero__text">
          <div class="hero__text-wrapper">
            <h3 class="hero__text-title">Unique platform for secure investment in responsible ICOs </h3>
            <a href="#" class="hero__text-link button button_decorated button_blue">Join platform</a>
          </div>
        </div>
      </div>
    </div>
    <div class="hero__row row">
      <div class="hero__col col-sm-12 col-xs-12 text-center pull-bottom">
        <div class="hero__scroll">
          <p class="hero__scroll-text">Scroll</p>
        </div>
      </div>
    </div>
  </div>
</section>
