{% import 'data/how-it-works-data.html' as data %}
<section class="how-it-works">
  <div class="how-it-works__wrapper wrapper">
    <div class="container">
      <div class="how-it-works__title title">How it works</div>
      <div class="how-it-works__text-wrapper">
        <p class="how-it-works__text">
          Each project coming to Jury.Online has a roadmap with clear transitional stages. All stages are being kept on
          an
          invulnerable smart contract, which is created when investing. When a project completes a milestone - only then
          it receives the next part of invested funds for its further development. </p>
        <p class="how-it-works__text">
          If the project does not fulfilled its obligations - completed a milestone out of line or with improper quality
          - the investor has the right to open a dispute. Then within 1 working day Jury.Online mediators will closely
          consider the problem and make a decision. If it turns out that the project is not right, the investor has the
          right to return his funds up to 99,5%.
        </p>
      </div>
      <div class="about-us-img">
        <div class="about-us-img-1">Clear and secure way to contribute in responsible Projects</div>
        <div class="about-us-img-2">Direct communication with the developers of the Project</div>
        <div class="about-us-img-3">A guaranteed refund of up to 99.5% of total investment</div>
        <div class="clearfix"></div>
      </div>

      <ul class="how-it-works__list">
        {% for item in data.list %}
          <li class="how-it-works__item">
            <p class="how-it-works__item-title">{{ item.title }}</p>
            <p class="how-it-works__descr">{{ item.descr }}</p>
          </li>
        {% endfor %}
      </ul>

      <div class="how-it-works__row row">
        <div class="how-it-works__col col-sm-12 col-xs-12 advantages__col-button ">
          <a class="how-it-works__button button button_decorated button_pink_lg button_pink">Become an Investor</a>
        </div>
      </div>

    </div>
  </div>
</section>
