<div class="internal-news">
  <div class="internal-news__container container">
    <article class="internal-news__article">
      <p class="internal-news__category">clients news</p>
      <h2>JOT Is Now Available for Tracking at CoinMarketCap</h2>
      <p class="internal-news__date">08 Jul 2018</p>

      <img src="./img/about-clients-background.png" alt="image">
      <p>A lender on the PaiPaiDai platform works from his home in Shanghai in 2011. <br/>
        A photo by: <a href="#" class="internal-news__author">William Sparks</a></p>

      <div>
        <p>
          LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity
          to
          create slimmer, more portable technology than we’ve ever had access to before. From your wrist watch to your
          laptop, a lot of the on the go electronics that we tote from place to place are only possible because of their
          thin, light LCD display screens. Liquid crystal display (LCD) technology still has some stumbling blocks in
          its
          path that can make it unreliable at times, but on the whole the invention of the LCD screen has allowed great
          leaps forward in global technological progress.</p>
        <h3>Caught up in China’s risk clean-up </h3>
        <p>
          Although liquid crystals are not really liquid, their molecules behave more like a liquid than they do like a
          solid, which earns them their name. The crystals in an LCD exist in a kind of a unique middle ground between
          solid form and liquid form, which gives them the movement and flexibility of a liquid; but can also let them
          remain in place, like a solid. Heat can quickly melt a solid to liquid, allowing it to move, whereas cool will
          make the liquid solidify almost instantly.
          <span class="internal-news__quotes">“The currents can force the naturally twisted molecules to unwind or coil.”</span>
          The sensitivity of liquid crystals to temperature can be an advantage, or a disadvantage. It allows for the
          highly successful use of liquid crystals in devices like thermometers, where temperature responsiveness is a
          boon; but this same property can unfortunately make LCD screens unreliable in extreme climates.
          In an LCD screen, electric currents work at a microscopic level to control the amount of light that passes
          through the liquid crystal molecules that make up the moving layer of the screen, which is sandwiched between
          clear glass panels. The currents can force the naturally twisted molecules to unwind or coil tighter, thereby
          changing the amount of light that can pass from the bulb behind the glass to the eye of the viewer.</p>

        <img src="./img/about-clients-background.png" alt="image">
        <p>A lender on the PaiPaiDai platform works from his home in Shanghai in 2011. <br/>
          A photo by: <a href="#" class="internal-news__author">William Sparks</a></p>

        <p>It may help you understand this process by imagining that light filters through an LCD screen the same way
          that sunlight filters through the leaves of a tree. Now, imagine that the tree is being blown in the wind, and
          you will see that the amount and placement of the light that comes through the leaves changes. This is very
          similar to the dynamic that powers an LCD screen, except that the sun is a small light bulb, the leaves are
          molecules of liquid crystal, and the wind is made up of electric currents sent by the computer and designed to
          create a specific light pattern that your eye will interpret as words or images.</p>

        <div class="internal-news__card-links">
          <a href="#" class="internal-news__card-link">
            <img src="./img/twitter.png" class="internal-news__card-social">
          </a>
          <a href="#" class="internal-news__card-link">
            <img src="./img/linkedin.png" class="internal-news__card-social">
          </a>
          <a href="#" class="internal-news__card-link">
            <img src="./img/facebook.png" class="internal-news__card-social">
          </a>
        </div>
        <p class="internal-news__tags">Tags</p>
        <p>china, banking, beijing, qzasia, investing</p>
      </div>

    </article>

  </div>
</div>
