<div class="internal-about">

  <div class="internal-about__title-inner">
    <div class="internal-about__container container">
      <h1 class="internal-about__title title title_white">Ruby-on-rails Developers</h1>

      <div class="internal-about__breadcrumbs breadcrumbs">
        <ul class="breadcrumbs__list breadcrumbs__list_left">
          {% for item in ['Home', 'About', 'Internal page'] %}
            <li class="breadcrumbs__item">
              <a href="#"
                 class="breadcrumbs__link breadcrumbs__link_white {% if loop.index === loop.length %} breadcrumbs__link_current{% endif %}">{{ item }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="internal-about__container container">
    <div class="internal-about__inner">
      <article class="internal-about__text">
        <h3>description</h3>
        <p>We are currently searching for ruby-on-rails developers. If you consider yourself perfectly suited for the
          position — just contact us
          LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to
          create slimmer, more portabl.</p>
        <h3>requirements</h3>
        <ul>
          <li>LCD screens right to open a dispute.</li>
          <li>Modern in style, and the liquid crystals that make them work have allowed humanity to create slimmer, more
            portabl
          </li>
          <li>Liquid crystals that make them work have allowed humanity to create slimmer, more portabl.</li>
          <li>Create slimmer, more portabl.</li>
        </ul>
        <h3>duties</h3>
        <ul>
          <li>LCD screens right to open a dispute.</li>
          <li>Modern in style, and the liquid crystals that make them work have allowed humanity to create slimmer, more
            portabl
          </li>
          <li>Liquid crystals that make them work have allowed humanity to create slimmer, more portabl.</li>
          <li>Create slimmer, more portabl.</li>
        </ul>
        <h3>Additional Information</h3>
        <p>We are currently searching for ruby-on-rails developers. If you consider yourself perfectly suited for the
          position — just contact us
          LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to
          create slimmer, more portabl.</p>
      </article>

      <div class="internal-about__sidebar">

        <div class="internal-about__card white-card">
          <div class="internal-about__title title"> Join Us</div>
          <div class="internal-about__subtitle">Please, do not forget to attach your resume</div>
          <form class="internal-about__form form-text">
            <label class="form-text__label form-text__label_mt">
              <input class="form-text__input" type="text" name="question" placeholder="Full Name"/>
            </label>
            <label class="form-text__label form-text__label_mt">
              <input class="form-text__input" type="text" name="question" placeholder="Your e-mail"/>
            </label>
            <label class="form-text__label form-text__label-file form-text__label_mt">
              <p class="form-text__label-text">Attach your cv</p>
              <input class="form-text__input form-text__input-file" type="file" name="CV-file"/>
            </label>
            <div class="form-text__button-row form-text__button-row_sm">
              <button type="button" class="form-text__button button button_decorated button_pink button_pink_lg js-modal-open">Send
                Resume
              </button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
