<div class="internal-wiki">

  <div class="internal-wiki__title-inner">
    <div class="internal-wiki__container container">
      <h1 class="internal-wiki__title title title_white">Consumer Generated Media</h1>
    </div>
  </div>

  <div class="internal-wiki__container container">
    <div class="internal-wiki__inner">
      <article class="internal-wiki__text">
        <p> LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity
          to
          create slimmer, more portable technology than we’ve ever had access to before. From your wrist watch to your
          laptop, a lot of the on the go electronics that we tote from place to place are only possible because of their
          thin, light LCD display screens. Liquid crystal display (LCD) technology still has some stumbling blocks in
          its
          path that can make it unreliable at times, but on the whole the invention of the LCD screen has allowed great
          leaps forward in global technological progress.</p>
        <p> Joseph Lowe served in the U.S. Army from 2001-2005 as an Airborne Infantry soldier attached to 82nd ABN Div
          Det
          HHC. Headquarter and Headquarter Company (HHC) trains, readies, and deploys Division mission command nodes;
          provides sustainment, communications, and security for deployed forces in support of unified land operations.
          He
          has advised in multiple start-ups including his own.</p>
        <p> Served as Chief Executive of Lion MGA from 2012-2017. Lion was a Managing General Agency in the Insurance
          industry. Insurers would outsource their departmental operations in a fronting carrier-managing underwriter
          relationship that resulted in producing the largest retailer by office locations on east coast USA for its
          field.
          Literally taking this start-up from ground to multi-million dollar enterprise and 150 agent force. Also gained
          vast experience in risk management, auditing for underwriting purposes determining what is a high risk or low
          risk
          product, and risk mitigation. Claims sustained were less than 1% during tenure.</p>
        <p> During 2016-2017 developed a lab for tech insurance and healthcare products that are based on Big Data and
          IoT.
          The goal was to reduce waste and other overlapping healthcare costs thru provider-user (patient) integrated
          collaborative platform. All products and service concepts were user centric with an aim to decentralize all
          aspects of healthcare authority and instead empowering the user with control over their health thru
          gamification.
          www.careparrot.com</p>
        <p>Oct 2017 til Feb 2018 Joseph was appointed as a Strategist to the CoinHealth Community, an innovative
          blockchain
          start-up dedicated to decentralized EHR, biometric wearables, and incentivizing the user to become healthier
          by
          token rewards in a gamified experience. www.coinhealth.io</p>
      </article>

      <div class="internal-wiki__sidebar">
        <img src="./img/advantage-investor-3.png" alt="Article image" class="internal-wiki__image">
        <div class="internal-wiki__badges">
          {% for badge in ['Cryptocurrencies','Blockchain','Artificial Intelligence'] %}
            <div class="internal-wiki__badge badge">{{ badge }}</div>
          {% endfor %}
        </div>
        <div class="internal-wiki__projects">
          <h3 class="internal-wiki__project-title">Related projects</h3>
          <ul class="internal-wiki__list">
            {% for item in ['Direct Mail Advertising PRO','Free Real Estate Listings'] %}
              <li class="internal-wiki__item">
                <a href="#" class="internal-wiki__link">{{ item }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
