<div class="internal-about">

  <div class="internal-about__title-inner">
    <div class="internal-about__container container">
      <h1 class="internal-about__title title title_white">Consumer Generated Media</h1>
    </div>
  </div>

  <div class="internal-about__container container">

    <div class="internal-about__breadcrumbs breadcrumbs">
      <ul class="breadcrumbs__list">
        {% for item in ['Home', 'About', 'Internal page'] %}
          <li class="breadcrumbs__item">
            <a href="#"
               class="breadcrumbs__link{% if loop.index === loop.length %} breadcrumbs__link_current{% endif %}">{{ item }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="internal-about__inner">
      <article class="internal-about__text">
        <h3>description</h3>
        <p>We are currently searching for ruby-on-rails developers. If you consider yourself perfectly suited for the
          position — just contact us
          LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to
          create slimmer, more portabl.</p>
        <h3>requirements</h3>
        <ul>
          <li>LCD screens right to open a dispute.</li>
          <li>Modern in style, and the liquid crystals that make them work have allowed humanity to create slimmer, more
            portabl
          </li>
          <li>Liquid crystals that make them work have allowed humanity to create slimmer, more portabl.</li>
          <li>Create slimmer, more portabl.</li>
        </ul>
        <h3>duties</h3>
        <ul>
          <li>LCD screens right to open a dispute.</li>
          <li>Modern in style, and the liquid crystals that make them work have allowed humanity to create slimmer, more
            portabl
          </li>
          <li>Liquid crystals that make them work have allowed humanity to create slimmer, more portabl.</li>
          <li>Create slimmer, more portabl.</li>
        </ul>
        <h3>Additional Information</h3>
        <p>We are currently searching for ruby-on-rails developers. If you consider yourself perfectly suited for the
          position — just contact us
          LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to
          create slimmer, more portabl.</p>
      </article>

      <div class="internal-about__sidebar">

      </div>
    </div>
  </div>
</div>
