<section class="latest-news">
  <div class="latest-news__container container">
    <div class="row">
      <div class="col-sm-12 xol-xs-12">
        <div class="latest-news__title title">Latest News</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-4 hidden-xs">
        <div class="latest-news__item">
          <a href="#"><img src="/img/news-back-1.png" class="latest-news__image" alt="News image"></a>
          <div class="latest-news__category">New Partner</div>
          <div class="latest-news__item-title"><a href="#">Swap.Online</a></div>
          <div class="latest-news__descr">An e-commerce platform based on blockchain technology…</div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 hidden-sm">
        <div class="latest-news__item">
          <a href="#"><img src="/img/news-back-2.png" class="latest-news__image" alt="News image"></a>
          <div class="latest-news__category">New Partner</div>
          <div class="latest-news__item-title"><a href="#">ICO Brothers</a></div>
          <div class="latest-news__descr">I hate peeping Toms. For one thing they usually step all over the hedg…</div>
        </div>
      </div>

      <div class="col-md-6 col-sm-8 hidden-xs">
        <div class="latest-news__item">
          <a href="#"><img src="/img/news-back-3.png" class="latest-news__image" alt="News image"></a>
          <div class="latest-news__category">Clients News</div>
          <div class="latest-news__item-title"><a href="#">JOT Is Now Available for Tracking at CoinMarketCap</a></div>
          <div class="latest-news__descr">Namaskar, welcome to Incredible India, where culture echoes, tradition speaks,
            beauty enthralls and diversity delights.
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-8 hidden-xs">
        <div class="latest-news__item">
          <a href="#"><img src="/img/news-back-4.png" class="latest-news__image" alt="News image"></a>
          <div class="latest-news__category">Clients News</div>
          <div class="latest-news__item-title"><a href="#">JOT Is Now Available for Tracking at CoinMarket</a></div>
          <div class="latest-news__descr">Namaskar, welcome to Incredible India, where culture echoes, tradition speaks,
            beauty enthralls and diversity delights.
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 ">
        <div class="latest-news__item">
          <a href="#"><img src="/img/news-back-5.png" class="latest-news__image" alt="News image"></a>
          <div class="latest-news__category">Clients News</div>
          <div class="latest-news__item-title"><a href="#">Elysian CFO Jesse Brandenburg</a></div>
          <div class="latest-news__descr">An e-commerce platform based on blockchain technology…</div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 hidden-sm">
        <div class="latest-news__item">
          <a href="#"><img src="/img/news-back-6.png" class="latest-news__image" alt="News image"></a>
          <div class="latest-news__category">New Partner</div>
          <div class="latest-news__item-title"><a href="#">ICO Brothers</a></div>
          <div class="latest-news__descr">I hate peeping Toms. For one thing they usually step all over the hedg…</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-xs-12 latest-news__link-row">
        <a class="latest-news__link button button_decorated button_decorated_sm button_blue" href="#">Explore all</a>
      </div>
    </div>
  </div>
  </div>
</section>
