{#<div class="login-modal modal js-modal">#}

  {#<div class="login-modal__content">#}
    {#<div class="login-modal__close modal-close js-modal-close"></div>#}
    {#<h2 class="login-modal__title">Log In</h2>#}
    {#<form action="#" class="login-modal__form">#}
      {#<label class="login-modal__label">#}
        {#<span class="login-modal__input-text">Email</span>#}
        {#<input type="text" class="login-modal__input">#}
      {#</label>#}
      {#<label class="login-modal__label">#}
        {#<div class="login-modal__password-block">#}
          {#<span class="login-modal__input-text">Password</span>#}
          {#<a href="#" class="login-modal__forgot-password">Forgot password?</a>#}
        {#</div>#}
        {#<div class="login-modal__password-input-block">#}
          {#<input type="password" class="login-modal__input">#}
          {#<button class="login-modal__password-show" type="button">#}
            {#{{ mixins.icon('eye') }}#}
          {#</button>#}
        {#</div>#}
      {#</label>#}
      {#<label class="login-modal__label login-modal__label-checkbox">#}
        {#<span class="login-modal__input-text">Remember me</span>#}
        {#<input type="checkbox" class="login-modal__input login-modal__input-checkbox">#}
      {#</label>#}
      {#<buttton class="login-modal__login-button button button_pink button_pink_lg">Log in</buttton>#}
    {#</form>#}
    {#<div class="login-modal__alternative-block">#}
      {#<div class="login-modal__alternative-decorative"></div>#}
      {#<p class="login-modal__alternative">Or connect with</p>#}
      {#<div class="login-modal__alternative-decorative"></div>#}
    {#</div>#}
    {#<div class="login-modal__social-buttons">#}
      {#<button class="login-modal__login-button-facebook button button_pink button_pink_lg">facebook</button>#}
      {#<button class="login-modal__login-button-google button button_pink button_pink_lg">google</button>#}
    {#</div>#}
    {#<p class="login-modal__signup">No account yet? <a href="#" class="login-modal__signup-link">Sign up</a></p>#}
  {#</div>#}

{#</div>#}
