{% import 'data/mediators-data.html' as data %}
<section class="mediators">
  <div class="mediators__container container">
    <div class="mediators__row row">
      <div class="mediators__col col-sm-12 xol-xs-12">
        <h1 class="mediators__title title">Meet Our Mediators</h1>
      </div>
    </div>
    <div class="mediators__row row">
      <div class="mediators__col col-sm-12 col-xs-12 hidden-sm hidden-xs">
        <ul class="mediators__list">
          {% for item in data.list %}
            {% if loop.index % 2 == 1 %}
              {% set position = 'left' %}
            {% else %}
              {% set position = 'right' %}
            {% endif %}
            <li class="mediators__item feedback feedback_{{ position }}">
              <div class="feedback__image">
                <img class="feedback__avatar" src="./img/{{ item.photo }}" alt="Mediator image">
              </div>
              <div class="feedback__text-wrapper ">
                <div class="feedback__blue feedback__blue_{{ position }}">
                  <div class="feedback__blue-inner">
                    <div class="feedback__credentials">
                      <p class="feedback__name">{{ item.name }}</p>
                      <p class="feedback__position">{{ item.position }}</p>
                    </div>
                  </div>
                </div>
                <div class="feedback__white feedback__white_{{ position }}">
                  <p class="feedback__text">{{ item.text }}</p>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>

      </div>
      <div class="mediators__col col-sm-12 col-xs-12 hidden-md hidden-lg">
        <ul class="mediators__card-list feedback-card">
          {% for i in range(0,2) %}
            {% set item = data.list[i] %}
            <li class="feedback-card__card-item ">
              <img src="./img/{{ item.photo }}" alt="Mediator image" class="feedback-card__card-avatar">
              <div class="feedback-card__card-blue">
                <p class="feedback-card__card-name">{{ item.name }}</p>
                <p class="feedback-card__card-position">{{ item.position }}</p>
              </div>
              <p class="feedback-card__card-text">{{ item.text }}</p>
              <div class="feedback-card__card-links">
                <a href="#" class="feedback-card__card-link">
                  <img src="./img/twitter.png" class="feedback-card__card-social"></a>
                <a href="#" class="feedback-card__card-link">
                  <img src="./img/linkedin.png" class="feedback-card__card-social"></a>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="mediators__row">
      <div class="col-sm-12 col-xs-12 mediators__link-row">
        <a class="mediators__link button button_decorated button_decorated_sm button_blue" href="#">Explore all</a>
      </div>
    </div>
  </div>
</section>

