{% import 'data/mediator-list-data.html' as data %}
<section class="mediator-list">
  <div class="mediator-list__container container">
    <div class="mediator-list__row row">
      <div class="mediator-list__col col-xs-12">
        <h2 class="mediator-list__title title">Mediators</h2>
      </div>
      <div class="mediator-list__col col-xs-12">
        <ul class="mediator-list__card-list feedback-card">
          {% set item = data.list[i] %}
          {% for item in data.list %}
            <li class="feedback-card__card-item feedback-card__card-item_sm">
              <a class="feedback-card__link" href="#">
                <img src="./img/{{ item.photo }}" alt="Mediator image" class="feedback-card__card-avatar">
                <div class="feedback-card__card-blue">
                  <p class="feedback-card__card-name">{{ item.name }}</p>
                  <p class="feedback-card__card-position">{{ item.position }}</p>
                </div>
                <p class="feedback-card__card-text">{{ item.text }}</p>
                {#<div class="feedback-card__card-rating">#}
                  {#{{ mixins.icon('star') }}#}
                  {#<p class="feedback-card__card-rating-text">3,2</p>#}
                {#</div>#}
                <div class="feedback-card__card-links">
                  <a href="#" class="feedback-card__card-link">
                    <img src="./img/twitter.png" class="feedback-card__card-social"></a>
                  <a href="#" class="feedback-card__card-link">
                    <img src="./img/linkedin.png" class="feedback-card__card-social"></a>
                </div>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

  </div>
</section>

