<section class="mission">
  <div class="mission__container container">
    <div class="mission__row row">
      <div class="mission__col col-sm-12 xol-xs-12">
        <h2 class="mission__title title title_white">Mission</h2>
      </div>
    </div>
    <div class="mission__row row">
      <div class="mission__col col-sm-12 xol-xs-12">

        <div class="mission__text-wrapper">
          <p class="mission__text">
            Our mission is to restore confidence in the ICO market. We want responsible projects to conduct ICOs and
            bring new products to the light.Our mission is to restore confidence in the ICO market. We want responsible projects to conduct ICOs and
            bring new products to the light.Our mission is to restore confidence in the ICO market. We want responsible projects to conduct ICOs and
            bring new products to the light.Our mission is to restore confidence in the ICO market. We want responsible projects to conduct ICOs and
            bring new products to the light.
          </p>
        </div>

      </div>
    </div>
    <div class="mission__row row mission__button-row">
      <div class="mission__col col-sm-12 col-xs-12 text-center">
        <a class="mission__button button button_decorated button_pink button_pink_lg" href="#">Discover Platform</a>
      </div>
    </div>
  </div>
</section>

