<section class="mission">
  <div class="mission__container container">
    <div class="mission__row row">
      <div class="mission__col col-sm-12 xol-xs-12">
        <h2 class="mission__title title title_white">Mission</h2>
      </div>
    </div>
    <div class="mission__row row">
      <div class="mission__col col-sm-12 xol-xs-12">

        <div class="mission__text-wrapper">
          <p class="mission__text">Blockchain startups, cryptocurrencies and ICO crowdfunding models are undoubtedly a
            huge step forward in modern IT. However, the widespread of scam ICOs corrupts the potential of many bright
            ideas to come to life that's why Jury.Online strives to support breakthrough projects by providing a secure
            and reliable mechanism using the full power of smart contracts. </p>
        </div>

      </div>
    </div>
    <div class="mission__row row mission__button-row">
      <div class="mission__col col-sm-12 col-xs-12 text-center">
        <a class="mission__button button button_decorated button_pink button_pink_lg" href="#">Discover Platform</a>
      </div>
    </div>
  </div>
</section>

