<section class="news {% if news.isSmallPadding %}news_sm{% endif %}">
  <div class="news__container container">
    <div class="news__row row">
      <div class="new__col col-sm-12 xol-xs-12">
        <div class="news__title title">{{ news.title }}</div>
      </div>
    </div>
    <div class="news__row row">

      {% for item in news.list %}
        <div class="{{ item.style }}">
          <div class="news__item news-article">
            <a href="#"><img src="./img/{{ item.image }}" class="news-article__image" alt="News image"></a>
            {% if item.category %}
              <div class="news-article__category">{{ item.category }}</div>
            {% endif %}
            <a href="#" class="news-article__item-title">
              <p class="news-article__item-head">{{ item.title }}</p>
              <div class="news-article__descr">{{ item.descr }}</div>
            </a>
          </div>
        </div>
      {% endfor %}

    </div>
    <div class="news__row row">
      <div class="new__col col-sm-12 col-xs-12 news__col-link">
        <a class="news__link button button_decorated button_decorated_sm button_blue" href="#">{{ news.button }}</a>
      </div>
    </div>
  </div>
</section>
