<section class="search">
  <div class="search__container container">
    <div class="search__row row">
      <div class="search__col search__text-wrapper col-sm-12">
        <p class="search__title title title_white">At Jury.online, We strive to explain terms to users. </p>
        <form action="#" class="search__form">
          <label class="search__label">
            <input type="text" class="search__input">
          </label>
          <button class="search__button">search</button>
        </form>
      </div>
    </div>
  </div>
</section>
