<section class="subscribe">
  <div class="subscribe__container container">
    <div class="subscribe__row row">
      <div class="subscribe__col col-sm-12 col-xs-12">
        <div class="subscribe__newsletter white-card">
          <div class="subscribe__title title">Get Our <br/> Newsletter</div>
          <form class="subscribe__form">
            <label class="subscribe__label">
              <input class="subscribe__input" type="text" name="email" placeholder="Email"/>
            </label>
            <div class="subscribe__button-row">
              <a href="#" class="subscribe__button button button_decorated button_blue">Confirm email</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
