<section class="hero-block"
         style="background: url('./img/{{ about.item.background }}') no-repeat center; background-size: cover">
  <div class="hero-block__container container ">
    <div class="hero-block__row row">
      <div class="hero-block__col col-sm-12 col-xs-12 full-height-child">
        <div class="hero-block__title title title_white title_lg">{{ about.item.title }}</div>
        <p class="hero-block__descr"> {{ about.item.text | safe }}</p>
      </div>
    </div>
  </div>
</section>
