{% set list = [
  {
    title: 'Ruby-on-rails Developers',
    text: 'We are currently searching for ruby-on-rails developers. If you consider yourself perfectly suited for the position - just contact us'
  },
  {
    title: 'Web Designer',
    text: 'We are currently searching for Web Designer. If you consider yourself perfectly suited for the position - just contact us'
  },
  {
    title: 'Project Manager',
    text: 'We are currently searching for Project Manager. If you consider yourself perfectly suited for the position - just contact us'
  },
  {
    title: 'Ruby-on-rails Developers',
    text: 'We are currently searching for ruby-on-rails developers. If you consider yourself perfectly suited for the position - just contact us'
  }
] %}
