{% set list = [
  {
    title: 'Ongoing',
    clients: [
    {
      logo: 'clients-logo-1-white.png',
      descr: 'WEX.nz – is a decentralised transportation application, cooperates with Jury.Online for the implementation escrow of the contributor’s funds and release of the funds to the Brixby project once the set goals have been reached. Jury.Online experts-arbiters from the fintech, law, IT and blockchain industry will be independent and unbiased advisers of the realization of the Project’s roadmap.',
      badges: ['Artificial Intelligence','Cryptocurrencies', '+5 more']
    },
    {
      logo: 'clients-logo-2-white.png',
      descr: 'WEX.nz – is a decentralised transportation application, cooperates with Jury.Online for the implementation escrow of the contributor’s funds and release of the funds to the Brixby project once the set goals have been reached. Jury.Online experts-arbiters from the fintech, law, IT and blockchain industry will be independent and unbiased advisers of the realization of the Project’s roadmap.',
      badges: ['Artificial Intelligence','Cryptocurrencies', '+5 more']
    },
    {
      logo: 'clients-logo-3-white.png',
      descr: 'WEX.nz – is a decentralised transportation application, cooperates with Jury.Online for the implementation escrow of the contributor’s funds and release of the funds to the Brixby project once the set goals have been reached. Jury.Online experts-arbiters from the fintech, law, IT and blockchain industry will be independent and unbiased advisers of the realization of the Project’s roadmap.',
      badges: ['Artificial Intelligence','Cryptocurrencies', '+5 more']
    }
  ]
  },
  {
    title: 'Upcoming',
    clients: [
    {
      logo: 'clients-logo-1-white.png',
      descr: 'WEX.nz – is a decentralised transportation application, cooperates with Jury.Online for the implementation escrow of the contributor’s funds and release of the funds to the Brixby project once the set goals have been reached. Jury.Online experts-arbiters from the fintech, law, IT and blockchain industry will be independent and unbiased advisers of the realization of the Project’s roadmap.',
      badges: ['Artificial Intelligence','Cryptocurrencies', '+5 more']
    },
    {
      logo: 'clients-logo-2-white.png',
      descr: 'WEX.nz – is a decentralised transportation application, cooperates with Jury.Online for the implementation escrow of the contributor’s funds and release of the funds to the Brixby project once the set goals have been reached. Jury.Online experts-arbiters from the fintech, law, IT and blockchain industry will be independent and unbiased advisers of the realization of the Project’s roadmap.',
      badges: ['Artificial Intelligence','Cryptocurrencies', '+5 more']
    },
    {
      logo: 'clients-logo-3-white.png',
      descr: 'WEX.nz – is a decentralised transportation application, cooperates with Jury.Online for the implementation escrow of the contributor’s funds and release of the funds to the Brixby project once the set goals have been reached. Jury.Online experts-arbiters from the fintech, law, IT and blockchain industry will be independent and unbiased advisers of the realization of the Project’s roadmap.',
      badges: ['Artificial Intelligence','Cryptocurrencies', '+5 more']
    }
  ]
  },
  {
    title: 'Ended',
    clients: [
    {
      logo: 'clients-logo-1-white.png',
      descr: 'WEX.nz – is a decentralised transportation application, cooperates with Jury.Online for the implementation escrow of the contributor’s funds and release of the funds to the Brixby project once the set goals have been reached. Jury.Online experts-arbiters from the fintech, law, IT and blockchain industry will be independent and unbiased advisers of the realization of the Project’s roadmap.',
      badges: ['Artificial Intelligence','Cryptocurrencies', '+5 more']
    },
    {
      logo: 'clients-logo-2-white.png',
      descr: 'WEX.nz – is a decentralised transportation application, cooperates with Jury.Online for the implementation escrow of the contributor’s funds and release of the funds to the Brixby project once the set goals have been reached. Jury.Online experts-arbiters from the fintech, law, IT and blockchain industry will be independent and unbiased advisers of the realization of the Project’s roadmap.',
      badges: ['Artificial Intelligence','Cryptocurrencies', '+5 more']
    },
    {
      logo: 'clients-logo-3-white.png',
      descr: 'WEX.nz – is a decentralised transportation application, cooperates with Jury.Online for the implementation escrow of the contributor’s funds and release of the funds to the Brixby project once the set goals have been reached. Jury.Online experts-arbiters from the fintech, law, IT and blockchain industry will be independent and unbiased advisers of the realization of the Project’s roadmap.',
      badges: ['Artificial Intelligence','Cryptocurrencies', '+5 more']
    }
  ]
  }
] %}
