{% set item = {
  title: 'Frequently asked Questions',
  items: [
    {
      question: 'When The Morning Dawns',
      answer: 'Free directories: directories are perfect for customers that are searching for a particular topic. What’s great about them is that you only have to post once and they are good for long periods of time.'
    },
    {
      question: 'Philosophy As A Science',
      answer: 'Free directories: directories are perfect for customers that are searching for a particular topic. What’s great about them is that you only have to post once and they are good for long periods of time.'
    },
    {
      question: 'Comment On The Importance Of Human Life',
      answer: 'Free directories: directories are perfect for customers that are searching for a particular topic. What’s great about them is that you only have to post once and they are good for long periods of time.'
    },
    {
      question: 'Always Look On The Bright Side Of Life',
      answer: 'Free directories: directories are perfect for customers that are searching for a particular topic. What’s great about them is that you only have to post once and they are good for long periods of time.'
    },
    {
      question: 'Althusser Competing Interpellations And The Third Text',
      answer: 'Free directories: directories are perfect for customers that are searching for a particular topic. What’s great about them is that you only have to post once and they are good for long periods of time.'
    },
    {
      question: 'Words To Live By',
      answer: 'Free directories: directories are perfect for customers that are searching for a particular topic. What’s great about them is that you only have to post once and they are good for long periods of time.'
    }
  ]
} %}
