{% set list = [
  {
    title: 'Clear and secure way to contribute in responsible Projects',
    descr: 'Each project coming to Jury.Online has a roadmap with clear transitional stages. All stages are being kept on an invulnerable smart contract, which is created when investing. '
  },
  {
    title: 'A guaranteed refund of up to 99.5% of total investment',
    descr: 'When a project completes a milestone - only then it receives the next part of invested funds for its further development.'
  },
  {
    title: 'Direct communication with the developers of the Project',
    descr: 'If the project does not fulfilled its obligations - completed a milestone out of line or with improper quality - the investor has the right to open a dispute. Then within 1 working day Jury.Online mediators will closely consider the problem and make a decision. If it turns out that the project is not right, the investor has the right to return his funds up to 99,5%.'
  }
] %}
