{% set list = [
  {
    style: 'col-md-3 col-sm-4 hidden-xs',
    image: 'news-back-1.png',
    category: 'New Partner',
    title: 'Swap.Online',
    descr: 'An e-commerce platform based on blockchain technology…'
  },
  {
    style: 'col-md-3 col-sm-4 hidden-sm',
    image: 'news-back-2.png',
    category: 'New Partner',
    title: 'ICO Brothers',
    descr: 'I hate peeping Toms. For one thing they usually step all over the hedg…'
  },
  {
    style: 'col-md-6 col-sm-8 hidden-xs',
    image: 'news-back-3.png',
    category: 'Clients News',
    title: 'JOT Is Now Available for Tracking at CoinMarketCap',
    descr: 'Namaskar, welcome to Incredible India, where culture echoes, tradition speaks, beauty enthralls and diversity delights.'
  },
  {
    style: 'col-md-6 col-sm-8 hidden-xs',
    image: 'news-back-4.png',
    category: 'Clients News',
    title: 'JOT Is Now Available for Tracking at CoinMarket',
    descr: 'India,'
  },
  {
    style: 'col-md-3 col-sm-4 ',
    image: 'news-back-5.png',
    category: 'Clients News',
    title: 'Elysian CFO Jesse Brandenburg',
    descr: 'An e-commerce platform based on blockchain technology…'
  },
  {
    style: 'col-md-3 col-sm-4 hidden-sm',
    image: 'news-back-6.png',
    category: 'New Partner',
    title: 'ICO Brothers',
    descr: 'I hate peeping Toms. For one thing they usually step all over the hedg…'
  }
] %}
{% set title = 'Latest News' %}
{% set button = 'Explore all' %}
