{% set list =  [
  {
    photo: 'mediator-avatar-1.jpg',
    name: 'Bob Schrader, Esq.',
    position: 'International Law Attorney',
    text: 'Bob Schrader, Esq. is an International Law attorney providing business, regulatory, negotiation, and legal counsel and advice to entrepreneurs, owners, startups, and internet-based companies from concept through ongoing operations for over 30 years.'
  },
  {
    photo: 'mediator-avatar-2.jpg',
    name: 'Bob Schrader, Esq.',
    position: 'International Law Attorney',
    text: 'Bob Schrader, Esq. is an International Law attorney providing business, regulatory, negotiation, and legal counsel and advice to entrepreneurs, owners, startups, and internet-based companies from concept through ongoing operations for over 30 years.'
  },
  {
    photo: 'mediator-avatar-3.jpg',
    name: 'Bob Schrader, Esq.',
    position: 'International Law Attorney',
    text: 'Bob Schrader, Esq. is an International Law attorney providing business, regulatory, negotiation, and legal counsel and advice to entrepreneurs, owners, startups, and internet-based companies from concept through ongoing operations for over 30 years.'
  }
  ] %}
