{% set list = [
  {
    background: 'carousel-news-slide-1.png',
    title: 'Clients news',
    descr: 'JOT Is Now Available for Tracking at CoinMarketCap',
    date: '08 Jul 2018'
  },
  {
    background: 'carousel-news-slide-1.png',
    title: 'Clients news',
    descr: 'JOT Is Now Available for Tracking at CoinMarketCap',
    date: '08 Jul 2018'
  },
  {
    background: 'carousel-news-slide-1.png',
    title: 'Clients news',
    descr: 'JOT Is Now Available for Tracking at CoinMarketCap',
    date: '08 Jul 2018'
  },
  {
    background: 'carousel-news-slide-1.png',
    title: 'Clients news',
    descr: 'JOT Is Now Available for Tracking at CoinMarketCap',
    date: '08 Jul 2018'
  },
  {
    background: 'carousel-news-slide-1.png',
    title: 'Clients news',
    descr: 'JOT Is Now Available for Tracking at CoinMarketCap',
    date: '08 Jul 2018'
  }
] %}
