{% set list = [
  {
    title: 'Investment dashboard',
    frontDescr: 'Jury.Online is a decentralized escrow service for ICO projects. We provide a secure way of investment based on the completion of milestones and third-party mediation in case the dispute arises.',
    backDescr: 'Home Business Ideas Advertising',
    backList: [
    'Dvd Replication For Dummies 4 Easy Steps',
    'Train Travel On Track For Safety',
    'Althusser Competing Interpellations'
  ]
  },
  {
    title: 'Investment dashboard',
    frontDescr: 'Jury.Online is a decentralized escrow service for ICO projects. We provide a secure way of investment based on the completion of milestones and third-party mediation in case the dispute arises.',
    backDescr: 'Home Business Ideas Advertising',
    backList: [
    'Dvd Replication For Dummies 4 Easy Steps',
    'Train Travel On Track For Safety',
    'Althusser Competing Interpellations'
  ]
  },
  {
    title: 'Investment dashboard',
    frontDescr: 'Jury.Online is a decentralized escrow service for ICO projects. We provide a secure way of investment based on the completion of milestones and third-party mediation in case the dispute arises.',
    backDescr: 'Home Business Ideas Advertising',
    backList: [
    'Dvd Replication For Dummies 4 Easy Steps',
    'Train Travel On Track For Safety',
    'Althusser Competing Interpellations'
  ]
  },
  {
    title: 'Investment dashboard',
    frontDescr: 'Jury.Online is a decentralized escrow service for ICO projects. We provide a secure way of investment based on the completion of milestones and third-party mediation in case the dispute arises.',
    backDescr: 'Home Business Ideas Advertising',
    backList: [
    'Dvd Replication For Dummies 4 Easy Steps',
    'Train Travel On Track For Safety',
    'Althusser Competing Interpellations'
  ]
  },
  {
    title: 'Investment dashboard',
    frontDescr: 'Jury.Online is a decentralized escrow service for ICO projects. We provide a secure way of investment based on the completion of milestones and third-party mediation in case the dispute arises.',
    backDescr: 'Home Business Ideas Advertising',
    backList: [
    'Dvd Replication For Dummies 4 Easy Steps',
    'Train Travel On Track For Safety',
    'Althusser Competing Interpellations'
  ]
  },
  {
    title: 'Investment dashboard',
    frontDescr: 'Jury.Online is a decentralized escrow service for ICO projects. We provide a secure way of investment based on the completion of milestones and third-party mediation in case the dispute arises.',
    backDescr: 'Home Business Ideas Advertising',
    backList: [
    'Dvd Replication For Dummies 4 Easy Steps',
    'Train Travel On Track For Safety',
    'Althusser Competing Interpellations'
  ]
  },
  {
    title: 'Investment dashboard',
    frontDescr: 'Jury.Online is a decentralized escrow service for ICO projects. We provide a secure way of investment based on the completion of milestones and third-party mediation in case the dispute arises.',
    backDescr: 'Home Business Ideas Advertising',
    backList: [
    'Dvd Replication For Dummies 4 Easy Steps',
    'Train Travel On Track For Safety',
    'Althusser Competing Interpellations'
  ]
  },
  {
    title: 'Investment dashboard',
    frontDescr: 'Jury.Online is a decentralized escrow service for ICO projects. We provide a secure way of investment based on the completion of milestones and third-party mediation in case the dispute arises.',
    backDescr: 'Home Business Ideas Advertising',
    backList: [
    'Dvd Replication For Dummies 4 Easy Steps',
    'Train Travel On Track For Safety',
    'Althusser Competing Interpellations'
  ]
  }
] %}
{% set title = 'Technologies' %}
