{% set list = [
  {
    literal: 'c',
    terms: [
    {
      title: 'consumer generated media',
      descr: 'It is probably the dream of any amateur astronomer to be able to be the boss of one of the great. At Referanza, We strive to explain terms to users using our glossary. We do our best to solve the problems of our users. It is probably the dream of any amateur astronomer to be able…',
      badges: ['blockchain', 'legal', '+2 more']
    },
    {
      title: 'consumer generated media',
      descr: 'It is probably the dream of any amateur astronomer to be able to be the boss of one of the great. At Referanza, We strive to explain terms to users using our glossary. We do our best to solve the problems of our users. It is probably the dream of any amateur astronomer to be able…',
      badges: ['blockchain', '+2 more']
    },
    {
      title: 'consumer generated media',
      descr: 'It is probably the dream of any amateur astronomer to be able to be the boss of one of the great. At Referanza, We strive to explain terms to users using our glossary. We do our best to solve the problems of our users. It is probably the dream of any amateur astronomer to be able…',
      badges: ['legal', '+2 more']
    },
    {
      title: 'consumer generated media',
      descr: 'It is probably the dream of any amateur astronomer to be able to be the boss of one of the great. At Referanza, We strive to explain terms to users using our glossary. We do our best to solve the problems of our users. It is probably the dream of any amateur astronomer to be able…',
      badges: ['blockchain', 'legal']
    },
    {
      title: 'consumer generated media',
      descr: 'It is probably the dream of any amateur astronomer to be able to be the boss of one of the great. At Referanza, We strive to explain terms to users using our glossary. We do our best to solve the problems of our users. It is probably the dream of any amateur astronomer to be able…',
      badges: ['blockchain', 'legal']
    }
  ]
  },
  {
    literal: 'd',
    terms: [
    {
      title: 'design patterns',
      descr: 'It is probably the dream of any amateur astronomer to be able to be the boss of one of the great. At Referanza, We strive to explain terms to users using our glossary. We do our best to solve the problems of our users. It is probably the dream of any amateur astronomer to be able…',
      badges: ['blockchain', 'legal', '+2 more']
    },
    {
      title: 'design patterns',
      descr: 'It is probably the dream of any amateur astronomer to be able to be the boss of one of the great. At Referanza, We strive to explain terms to users using our glossary. We do our best to solve the problems of our users. It is probably the dream of any amateur astronomer to be able…',
      badges: ['blockchain', '+2 more']
    }
  ]
  }
] %}
