.about
	display: flex
	min-height: 630px
	padding-top: 80px
	padding-bottom: 80px
	min-width: 320px
	+r(991)
		padding-top: 80px
		padding-bottom: 80px
	+r(767)
		padding-top: 80px
		padding-bottom: 80px
		min-height: 368px
	+r(480)
		padding-top: 75px

	&__container

	&__text
		+markpro
		font-size: 21px
		font-weight: 700
		line-height: 1.33
		color: $white
		text-align: center
		+r(767)
			margin-bottom: 20px
			font-size: 16px

	&__title
		margin-top: auto
		font-size: 60px
		text-align: center
		padding: 0 40px 40px
		+r(1199)
			font-size: 45px
		+r(767)
			padding: 0 0 40px

	&__row
		height: 100%

	&__col

	&__text-wrapper
		height: 100%
		display: flex
		flex-direction: column

	&__button-row
		margin-top: auto

	&__button
		display: inline
