.advantages
	padding-top: 30px
	padding-bottom: 45px
	+r(767)
		padding-top: 25px
		padding-bottom: 50px

	&__container

	&__title
		text-align: center
		margin-bottom: 20px
		+r(991)
			padding: 0 140px
			line-height: 1
			margin-bottom: 20px
		+r(767)
			padding: 0
			margin-bottom: 18px

	&__list
		overflow: hidden
		border-radius: 7px

	&__item


	&__col-button
		display: flex
		justify-content: flex-end


	&__link
		margin-top: 38px
		+r(767)
			margin-top: 22px
			width: 100%
			justify-content: center
