.advantage
	position: relative

	&__image
		width: calc(100% - 1px)
		height: 350px
		object-fit: cover
		+r(1199)
			height: 350px
		+r(991)
			height: 350px
		+r(767)
			height: 185px

	&__text
		position: absolute
		+markpro
		padding: 0 25px
		font-weight: 700
		font-size: 24px
		line-height: 1.45
		left: 50%
		top: 50%
		transform: translateX(-50%) translateY(-50%)
		width: 100%
		text-align: center
		color: $white
		+r(991)
			font-size: 20px
			padding: 0 12px
		+r(767)
			font-size: 16px
