.button
	+markpro
	font-weight: 400
	color: $white
	text-decoration: none
	text-transform: uppercase
	font-size: 12px
	letter-spacing: 2px
	background: none
	&:hover
		text-decoration: underline

	&_pink
		box-sizing: border-box
		display: inline-block
		background-color: $pink
		padding: 10px 30px
		&:after
			background: url("../img/arrow-white.svg")no-repeat
		&:hover
			text-decoration: none
			color: $pink
			background-color: $white
			border: 1px $pink solid
			padding: 9px 29px
			&:after
				opacity: .5
				background: url("../img/arrow-pink.svg")no-repeat

	&_pink_lg
		padding: 20px 23px
		&:hover
			padding: 19px 22px

	&_blue-bg
		box-sizing: border-box
		display: inline-block
		background-color: $light-blue
		padding: 10px 30px
		&:after
			background: url("../img/arrow-white.svg")no-repeat
		&:hover
			text-decoration: none
			color: $light-blue
			background-color: $white
			border: 1px $light-blue solid
			padding: 9px 29px
			&:after
				opacity: .5
				background: url("../img/arrow-blue.svg")no-repeat

	&_blue-bg_lg
		padding: 20px 23px
		&:hover
			padding: 19px 22px



	&_blue
		color: $blue
		&:after
			background: url("../img/arrow-blue.svg")no-repeat
		&:hover
			text-decoration: none
			color: rgba($blue, .7)
			&:after
				opacity: .7

	&_rosy
		color: $pink
		&:after
			background: url("../img/arrow-pink.svg")no-repeat
		&:hover
			color: rgba($pink, .7)
			&:after
				opacity: .7




	&_decorated
		position: relative
		display: flex
		align-items: center
		&:after
			margin-left: 21px
			content: ''
			display: inline-block
			width: 33px
			height: 11px

	&_decorated_sm
		&:after
			margin-left: 6px
