.career-card
	background-color: $white
	padding: 30px 22px
	width: calc(33.3% - 20px)
	margin-left: 20px
	margin-top: 20px
	min-height: 340px
	display: flex
	flex-direction: column
	+r(991)
		width: calc(50% - 20px)
	+r(767)
		width: 100%
		margin-left: 0
		margin-top: 10px

	&__title
		+markpro
		font-weight: 700
		font-size: 24px

	&__descr
		margin-top: 16px
		+markpro
		font-size: 24px

	&__button
		padding-top: 10px
		margin-top: auto
