.careers
	padding-top: 60px
	padding-bottom: 60px
	background-color: $light-gray
	min-width: 320px
	+r(991)
		padding-top: 60px

	&__container

	&__row

	&__col

	&__title

	&__list
		display: flex
		flex-wrap: wrap
		margin-left: -20px
		+r(767)
			margin-left: 0

	&__item

