.clients
	min-width: 320px
	position: relative
	background-color: $light-gray
	+r(767)
		margin-top: 0
		background-color: $white

	&__container

	&__background
		position: absolute
		width: 100%
		height: 900px
		background: url("../img/clients-background.png") no-repeat center
		background-size: cover
		+r(1199)
			height: 752px
		+r(991)
			height: 600px
		+r(767)
			display: none

	&__wrapper
		width: 100%
		max-width: 1322px
		margin: 75px auto 0
		background-color: $white
		+r(1199)
			margin-top: 120px
			max-width: 1100px
		+r(991)
			margin-top: 120px
			max-width: 860px
		+r(767)
			margin-top: 0px


	&__title
		margin: 48px 0 30px
		+r(767)
			margin: 8px 0 0
			text-align: center

	&__item

	&__col-link
		display: flex
		justify-content: flex-end

	&__link
		margin-top: 32px
