.feedback-card
	display: flex
	justify-content: space-between
	+r(767)
		justify-content: center
		flex-wrap: wrap

	&__card-item
		position: relative
		display: flex
		flex-direction: column
		width: 49.8%
		+r(767)
			max-width: 468px
			width: 100%
			margin-top: 4px

	&__link
		font-size: 0
		&:hover
			text-decoration: none

	&__card-item_sm
		width: calc(33.33% - 30px)
		margin-left: 30px
		margin-bottom: 30px
		+r(991)
			width: calc(50% - 30px)
		+r(767)
			width: 100%
			margin-left: 0

	&__card-avatar
		width: 100%
		object-fit: cover
		filter: grayscale(100%)

	&__card-blue
		background-color: rgba($dark-blue, .5)
		position: absolute
		left: 0
		right: 0
		transform: translateY(-100%)
		padding: 10px 20px 17px

	&__card-name
		+markpro
		font-size: 20px
		font-weight: 700
		color: $white
		line-height: 1.5

	&__card-position
		+markpro
		font-size: 16px
		font-weight: 700
		color: $white

	&__card-text
		background-color: $white
		+markpro
		font-size: 16px
		color: $gray
		line-height: 1.5
		padding: 10px 24px 5px

	&__card-rating
		background-color: $white
		display: flex
		padding: 5px 24px 10px
		align-items: center
		.icon
			margin-right: 10px
			fill: $pink
			font-size: 18px

	&__card-rating-text
		font-size: 16px
		+markpro
		color: $pink
		font-weight: 700


	&__card-links
		position: absolute
		display: flex
		top: 10px
		left: 10px

	&__card-link
		margin-right: 15px
		display: flex
		justify-content: center
		align-items: center
		width: 45px
		height: 45px
		background-color: $dark-blue
		+hover
			opacity: .7

	&__card-social
