.feedback
	height: 360px
	display: flex
	padding-right: 14px
	+r(1199)
		height: 351px

	&_left
		flex-direction: row

	&_right
		flex-direction: row-reverse

	&__image
		flex-shrink: 0
		width: 256px
		height: 300px
		z-index: 1
		+r(1199)
			width: 273px
			height: 311px

	&__avatar
		margin-top: 30px
		width: 100%
		height: 100%
		object-fit: cover
		filter: grayscale(100%)
		+r(1199)
			margin-top: 20px

	&__text-wrapper
		position: relative
		width: 100%
		height: 100%

	&__blue
		position: absolute
		background-color: $dark-blue
		height: 200px
		+r(1199)
			height: 200px

	&__blue_left
		top: 0
		left: 0
		right: 38px
		padding: 27px 0 75px 106px
		+r(1199)
			right: 20px
			padding: 14px 0 75px 59px

	&__blue_right
		top: 5px
		left: 0
		right: 0
		padding: 26px 0 128px 156px
		+r(1199)
			padding: 18px 0 128px 103px

	&__blue-inner
		display: flex

	&__socials
		margin-left: auto
		margin-right: 37px
		display: flex

	&__social-link
		width: 45px
		height: 45px
		background-color: $blue
		display: flex
		align-items: center
		justify-content: center
		margin-left: 15px
		+hover
			opacity: .7

	&__name
		+markpro
		font-size: 38px
		font-weight: 700
		color: $white

	&__position
		+markpro
		font-size: 20px
		font-weight: 700
		color: $white

	&__white
		background-color: $white
		position: absolute
		height: 240px
		+r(1199)
			height: 220px

	&__white_left
		right: 0
		left: -38px
		bottom: 0
		padding: 32px 180px 32px 69px
		+r(1199)
			left: -20px
			padding: 27px 62px 32px 48px

	&__white_right
		bottom: 0
		left: 88px
		right: -52px
		padding: 31px 180px 31px 70px
		+r(1199)
			left: 72px
			padding: 29px 70px 31px 30px


	&__text
		+markpro
		font-size: 20px
		font-weight: 400
		color: $gray
		line-height: 1.6
