.filter
	margin-top: 35px
	margin-bottom: 35px
	+r(991)
		margin-top: 10px

	&__container

	&__row

	&__col

	&__rating-wrapper
		display: flex
		align-items: baseline

	&__title
		margin-bottom: 18px
		+markpro
		font-size: 20px
		text-transform: uppercase
		color: $gray
		letter-spacing: 1.67px
		font-weight: 600
		+r(991)
			margin-top: 25px

	&__star
		margin-left: 10px
		.icon
			font-size: 15px
			fill: $pink

	&__form

	&__list

	&__range
		width: 100%
		margin-top: 4px
		+r(991)
			margin-bottom: 50px
			max-width: 285px
