.internal-wiki

	&__container

	&__title-inner
		padding: 20px
		background-color: $blue

	&__title

	&__inner
		display: flex
		justify-content: space-between

	&__text
		width: calc(60% - 15px)

		p
			+markpro
			font-size: 21px
			line-height: 1.53
			color: $gray

	&__sidebar
		width: calc(40% - 15px)

	&__image
		width: 100%
		height: 500px
		object-fit: cover

	&__badges
		margin-top: 20px

	&__badge
		margin-left: 0
		margin-right: 5px

	&__projects
		background-color: $white
		padding: 40px
		margin-top: 20px

	&__project-title
		+markpro
		font-size: 21px
		color: #484848
		text-transform: uppercase

	&__list

	&__item

	&__link
		+markpro
		font-size: 21px
		line-height: 1.53
		color: $blue
