.mediators
	background-color: #f1f1f1
	padding-top: 50px
	padding-bottom: 60px
	margin-bottom: 35px
	min-width: 320px
	+r(767)
		padding-top: 50px
		padding-bottom: 50px
		margin-bottom: 25px


	&__container

	&__title
		margin-bottom: 10px
		+r(991)
			margin-bottom: 63px
		+r(767)
			margin-bottom: 14px

	&__list

	&__item
		margin-top: 43px

	&__col-link
		display: flex
		justify-content: flex-end

	&__link
		margin-top: 70px
		+r(991)
			margin-top: 52px

	&__card-list



