.news
	min-width: 320px

	&__container
		margin-top: 98px
		+r(767)
			margin-top: 35px

	&__title
		margin-bottom: 37px
		+r(767)
			margin-bottom: 14px

	&__item

	&__link-row
		display: flex
		justify-content: flex-end

	&__link
		margin-top: 48px
		+r(1199)
			margin-top: 33px

