.news-article
	font-size: 0
	overflow: hidden
	position: relative
	margin-bottom: 16px
	+r(767)
		min-height: 280px
	&:hover
		.news-article__item-title
			transform: translateY(0%)
		.news-article__descr
			opacity: 1
			max-height: 150px

	&__image
		border-radius: 7px
		width: 100%
		object-fit: cover
		height: 200px
		+r(1199)
			height: 162px
		+r(767)
			height: 185px

	&__category
		+markpro
		display: none
		color: $blue
		font-size: 12px
		font-weight: 400
		letter-spacing: 2px
		text-transform: uppercase
		margin-top: 4px
		+r(991)
			margin-top: 4px

	&__item-title
		border-radius: 0 0 7px 7px
		max-height: 200px
		color: $white
		transition: 0.4s
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		left: 0
		right: 0
		background-color: rgba($blue, .7)
		position: absolute
		bottom: 0
		+markpro
		font-size: 20px
		font-weight: 400
		letter-spacing: 0.15px
		line-height: 1.2
		a
			text-align: center
			text-decoration: none
			color: $white
		+r(1199)
			max-height: 162px
		+r(767)
			max-height: 185px
		&:hover
			text-decoration: none

	&__item-head
		padding: 8px


	&__descr
		max-height: 0
		width: 100%
		text-align: center
		background-color: $white
		transition: 400ms
		+markpro
		line-height: 1.57
		color: $gray
		font-size: 14px

